.cards {
  margin: 0 53px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  text-align: left;
}

@media screen (max-width: 424px){
   .cards {
     flex-direction: column;
   }
}