.cards {
	margin: 0 auto;
	display: flex;
   flex-wrap: wrap;
	padding: 20px;
	margin: 0;
	list-style: none;
	text-align: left;
}

@media (max-width: 426px) {
	.cards {
      flex-direction: column;
	}
}
@media (max-width:768px){
   .cards{
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
}