.columns {
  margin-top: 84px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

@media screen and (max-width: 1108px) {
  .columns {
    margin: 57px auto 53px;
  }
}
@media (max-width:768px){
   .columns{
      margin: 0 auto;
      align-items: center;
   }
}
