.video__title {
  position: relative;
  margin: -315px 0 0 59px;
  font-size: 36px;
}

@media screen and (max-width: 1108px) {
  .video__title {
    margin: -270px 0 0 40px;
    font-size: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .video__title {
    margin: -210px 0 0 30px;
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  .video__title {
    margin: -175px 0 0 25px;
    font-size: 18px;
  }
}

@media screen and (max-width: 424px) {
  .video__title {
    margin: -115px 0 0 20px;
    font-size: 16px;
  }
}