.footer {
  background: #fecca7;
  max-width: 100%;
  min-height: 537px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  font-size: 34px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .footer {
    min-height: 100px;
    flex-direction: column;
    font-size: 16px;
  }  
}