.video__button {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 80px;
  width: 100%;
}

@media screen and (max-width: 1108px) {
  .video__button {
    max-width: 70px;
  }
}

@media screen and (max-width: 1024px) {
  .video__button {
    max-width: 65px;
  }
}

@media screen and (max-width: 767px) {
  .video__button {
    max-width: 55px;
  }
}

@media screen and (max-width: 424px) {
  .video__button {
    max-width: 40px;
  }
}